<form class="form-horizontal" [formGroup]="courseForm" (ngSubmit)="saveCourse($event)">
  <div class="form-group">
    <label for="name" class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control" id="name" placeholder="name" name="name" formControlName="name" required>
      <div class="alert alert-danger" *ngIf="courseForm.controls.name.invalid && courseForm.controls.name.touched">
        Name is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="hours" class="col-sm-3 control-label">Hours</label>
    <div class="col-sm-9">
      <input type="number" class="form-control" id="hours" name="hours" placeholder="hours" formControlName="hours" required>
      <div class="alert alert-danger" *ngIf="courseForm.controls.hours.invalid && courseForm.controls.hours.touched">
        Hours are required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="startDate" class="col-sm-3 control-label">Start Date</label>
    <div class="col-sm-8">
      <input type="text" class="form-control" id="startDate" name="startDate" placeholder="Start Date" ng2-datetime-picker date-format="{{CONSTANTS.TIME.DEFAULT_FORMAT}}"
        year="2014" month="12" day="31" hour="23" minute='59' close-on-select="true" formControlName="startDate" readonly required>
      <div class="alert alert-danger" *ngIf="courseForm.controls.startDate.invalid && courseForm.controls.startDate.touched">
        Date must be greater than today's date
      </div>
    </div>
    <div class="col-sm-1">
      <date-icon [date]="courseForm.controls.startDate.value" [format]="CONSTANTS.TIME.DEFAULT_FORMAT"></date-icon>
    </div>
  </div>
  <div class="form-group">
    <label for="thaughtBy" class="col-sm-3 control-label">Thaught by</label>
    <div class="col-sm-9">
      <select class="form-control" id="thaughtBy" name="startDate" required="true" formControlName="teacherId">
        <option value="0">--- Select a teacher ---</option>
        <option *ngFor="let teacher of teachers" [value]="teacher.id">{{teacher.name}} {{teacher.lastName}}</option>
      </select>
      <div class="alert alert-danger" *ngIf="courseForm.controls.teacherId.invalid && courseForm.controls.teacherId.touched">
        Teacher is required
      </div>      
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-default" [disabled]="!courseForm.valid">Save</button>
      <button type="button" class="btn btn-default" routerLink="/courses">Back</button>
    </div>
  </div>
</form>