<div class="courses">
  <h1 class="horizontal-center">
    Yuxi courses {{date | date:'d/M/y'}}
  </h1>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Name
          <orderer key="name" (orderEvent)="orderEvent($event)" [keyBinder]="orderKey"></orderer>
        </th>
        <th>Hours
          <orderer key="hours" (orderEvent)="orderEvent($event)" [keyBinder]="orderKey"></orderer>
        </th>
        <th>Start date
          <orderer key="startDate" (orderEvent)="orderEvent($event)" [keyBinder]="orderKey"></orderer>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses | orderBy:orderKey" [routerLink]="['/courses/edit', course.id]">
        <td>{{course.name}}</td>
        <td>{{course.hours}}</td>
        <td>{{course.startDate | date:'d/M/y'}}
          <date-icon [date]="course.startDate"></date-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
